body, html{
  height: 98%;
  width: 99%;
  background-color: #DDDFDF;
  
}

.justify{
  display: flex;
  justify-content: center;
  margin-top: -20px;
  height: 250px;
}

#title{
  background-color: #2377A4;
  height: 8vh;
  margin: 0;
  padding: 40px 0px;
  width: 100vw;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  color: #F8F8F8;
  box-shadow: 3px 3px 4px rgba(71, 71, 71, 0.76);
  font-size: 3em;
  
}

.cardArray{
  margin-top: 20vh;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  
}

.alignCenter{
  text-align: center;
}

a{
  text-decoration: none;
  
}

.center{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: -300px;
}

.cardStyle{
  border: 2px solid #C2C2C2;
  border-radius: 20px;
  padding: 50px 65px;
  box-shadow: 3px 3px 4px rgba(113, 134, 125, 0.76);
  color: rgba(0, 0, 0, 0.521);
  width: 300px; 
  height: 120px;
  font-size: 5em;
  text-decoration: none;
}

#vaxes{
  padding-left: 25px;
  padding-right: 105px;
  margin-bottom: 10px;
  background-image: url('./images/vaxDog.jpg');
  background-size: cover;
}

#album{
  background-image: url('./images/photoAlbumDog.jpg');
  background-size: cover;
  
}

#dates{
  background-image: url('./images/dogSnow.jpg');
  background-size: cover;
}

#notes{
  background-image: url('./images/catDogPic.png');
  background-size: cover;
}

/* .overlay{
  background-color: rgba(66, 66, 66, 0.541);
} */

.cardStyle:hover{
  cursor: pointer;
}

@media only screen and (max-device-width: 768px) {
    
  [class*="cardArray"] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
    
}
  [class*="cardStyle"] {
    width: 350px;
    height: 150px;
    color: rgba(0, 0, 0, 0.521);
  }
  }